button{
  cursor: pointer;
}

body {
  background-color: #0c1821;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

.loaderBox{
  width: 95vw;
  margin: auto;
}

.loader{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader img{
  height: auto;
  width: 100px;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: #446584 0px 5px 15px -5px;
}

.logo {
  font-size: 35px;
  font-family: "Kaushan Script", cursive;
  padding-left: 7vmin;
}

.btns {
  display: flex;
  gap: 15px;
  padding-right: 7vmin;
  transition: all 0.3s ease;
}

#genBtn{
background: linear-gradient(90deg, rgb(224, 134, 0) 54%, rgb(236, 154, 1) 80%, rgb(180, 122, 15) 100%);
}

#genBtn:hover{
  background: linear-gradient(90deg, rgb(254, 167, 37) 54%, rgb(248, 166, 12) 80%, rgba(255,166,0,1) 100%);
}

.responsiveMenu {
  display: none;
  font-size: 30px;
  padding-right: 7vmin;
  cursor: pointer;
}

#cutMenu {
  display: none;
}

@media (max-width: 700px) {
  .logo {
    font-size: 30px;
  }

  .responsiveMenu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btns {
    display: none;
  }

  .btns.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #0c1821;
    align-items: center;
    justify-content: start;
    padding-top: 30vh;
    z-index: 999;
    gap: 30px;
    transition: opacity 0.3s ease;
  }

  .btn {
    height: 60px;
    width: 250px;
    font-size: 22px;
  }

  #cutMenu {
    display: block;
  }
}

/* post page css */

.notFoundImage{
  width: 25vw;
  margin: auto;
  text-align: center;

  @media (max-width: 639px) {
    width: 85vw;
  }
}

.mainConatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.searchContainer {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.searchContainer h2 {
  font-size: 45px;
  text-align: center;
}

.searchBox {
  height: 45px;
  background-color: #253b50;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 5px;
  width: 40vw;
}

.searchBox input {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

::placeholder{
  color: #ccc;
}

@media (min-width: 700px) and (max-width: 1250px) {

  .searchContainer h2 {
    font-size: 35px;
  }

  .searchBox {
    width: 80%;
  }
}

@media (max-width: 700px){

  .searchContainer h2 {
    font-size: 25px;
  }

  .searchBox {
    width: 100%;
  }

  .searchContainer {
    margin: 50px 10px 20px 10px;
  }
}

/* post card css */

/* create post css */

.input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.input textarea {
  box-shadow: 0 0 3px #253b50;
}

.CreatePostBtns {
  display: flex;
  justify-content: space-between;
}

.CreatePostBtn {
  width: 45%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.createdImg {
  display: inline-block;
  border: 2px dashed orange;
  border-radius: 12px;
  max-width: 100%;
  overflow: hidden;
}

.createdImg img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 12px;
}


@media (min-width: 700px) and (max-width: 1250px) {
  .title h2 {
    font-size: 30px;
  }

  .title p {
    font-size: 15px;
  }

  .input textarea {
    height: 15vmin;
    width: 93%;
  }

  .CreatePostBtn {
    width: 45%;
    height: 50px;
    font-size: 2vmin;
    font-weight: 400;
    border-radius: 15px;
  }
}

@media (max-width: 699px) {
  .title h2 {
    font-size: 25px;
  }

  .title p {
    font-size: 15px;
  }


  .input textarea {
    width: 90%;
    text-align: start;
    height: 30vmin;
    padding-left: 10px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0 0 2px #253b50;
  }

  .CreatePostBtns {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .CreatePostBtn {
    width: 100%;
    box-shadow: 0 0 2px #253b50;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    gap: 10px;
  }
}

/* login page css */

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  margin: 20px;
}

.loginContainer form {
  box-shadow: 0 0 2px #cee3f7;
}
.authInput input,
.authInput button {
  background-color: #0c1821;
  box-shadow: 0 0 3px rgb(41, 74, 105);
}

.authInput button:hover {
  transform: scale(1.02);
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.googleBox {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  box-shadow: 0 0 2px #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

.googleBox:hover {
  transform: scale(1.02);
}

.googleicon img {
  height: 22px;
}

@media (max-width: 699px) {
.loginContainer{
  margin: 0;
}

  .loginContainer form {
    box-shadow: none;
    width: 100%;
    padding: 15px;
  }

  .authInput button, .authInput input{
    box-shadow: 0 0 2px #253b50;
    height: 40px;
  }

  .authInput .submit{
    font-size: 20px;
  }

  .google{
    font-size: 15px;
  }

  .forgotBox button {
    background-color: transparent;
    padding: 10px 30px;
    box-shadow: 0 0 2px #253b50;
    border-radius: 20px;
  }
}


















.masonry {
  column-count: 5;
  column-gap: 1rem;
  padding: 1rem;
}

@media (max-width: 1024px) {
  .masonry {
    column-count: 3;
  }
}
@media (max-width: 768px) {
  .masonry {
    column-count: 2;
  }
}
@media (max-width: 480px) {
  .masonry {
    column-count: 1;
  }
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
}
